[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "semTools"]
	path = semTools
	url = https://github.com/simsem/semtools
	subdir = semTools
